.sectionCart{
  height: 100vh;
  display: grid;
  min-height: 100%;
  grid-template-areas: 
    "productCart separateBar endBuy";
  grid-template-columns: repeat(3,1fr) ;
}
.productCart{
  grid-area: productCart;
}
.table{
  grid-area:table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th{
  
  border-bottom: 3px solid #ececec;
    font-size: .9em;
    line-height: 1.3;
    padding: 0.5em;
    text-align: left;
  letter-spacing: .05em;
    line-height: 1.05;
    text-transform: uppercase;
}
th:first-child{
  padding-left: 0;
}
.separateBar{
  grid-area: separateBar;
}
#verticle-line{
  width: 3px;
  height: 50vh;
  background-color: #ececec;
}
td{
  text-align: left;
  padding: 0.5em;
  font-size: .9em;
  line-height: 1.3;
}
td.productTitle{
  text-overflow: ellipsis;
  word-break: break-word;
  width: 7em;
}
td.productPrice{
  width: 7em;
}
td.productQty{
  width: 7em;
}
td.buttonVaciar{
  width: 7em;
}
td.buttonGoCatalog{
  width: 7em;
}
td.productSubtotal{
  width: 7em;
}
.endBuy{
  grid-area:endBuy;
  margin-left: -120px;
}
#headTableProduct{
  text-align: center;
}
.removeButton{
  padding: .5em;
  width: 20px;
}
.imageProduct{
  max-width: 90px;
  min-width: 60px;
  width: 90px;
}
.alerta {
  display: flex;
  justify-content: center;
}
.resumenCompra{
  background: url("https://images.pexels.com/photos/986831/pexels-photo-986831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.347);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticket{
  border-radius: 5px;
}
.ticket .titulo{
  display: flex;
  justify-content: center;
}
.ticket .id{
  padding: 3px 0;
  display: flex;
  justify-content: center;
  color: #000000ab;
}
.ticket .productos {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
.ticket .footer{
  display: flex;
  justify-content: center;
}
.ticket .agradecimiento {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.carritoFondo{
  background: url("https://images.pexels.com/photos/986831/pexels-photo-986831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.347);
    padding-bottom: 20px;
}
.carritoFondo .titulo{
  color: white;
  font-size: 50px;
}
 .carritoVacio {
  background: url("https://images.pexels.com/photos/986831/pexels-photo-986831.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.carritoVacio h2 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}
 .productos{
  display: flex;
  flex-wrap: wrap;
}

.cartMain{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
}

.formFondo{
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
}
.tituloForm{
  color: black;
  font-size: 35px;
}